  <!-- HEADER -->
  <div class="page-header">
    <div class="page-header-position">
      <div class="site-title">
        <h1><a href="/">trade.</a><a href="/"><span class="site-title-section">get()</span></a></h1>
      </div>
      <nav class="site-nav">
        <div class="nav-items">
          <ul>
            <li><a href="/"><strong>BLOG</strong></a></li>
            <li><a href="/about"><strong>ABOUT ME</strong></a></li>
            <li><a href="" id="contact-button" class="contact"><strong>CONTACT ME</strong></a></li>
          </ul>
        </div>
      </nav>
      <div class="mobile-nav-button">
        <a href="" id="mobile-nav-button">&#9776;</a>
      </div>
      <!-- <nav class="mobile-site-nav">
        <div class="nav-items">
          <ul>
            <li><a href="/"><strong>BLOG</strong></a></li>
            <li><a href="/about"><strong>ABOUT ME</strong></a></li>
            <li><a class="github-mark" href="https://github.com/bching"><strong>GITHUB PAGE</strong></a></li>
            <li><a href="/"><strong>CONTACT ME</strong></a></li>
          </ul>
        </div>
      </nav> -->
    </div>
    <nav class="mobile-site-nav">
      <div class="nav-items">
        <ul>
          <li><a href="/"><strong>BLOG</strong></a></li>
          <li><a href="/about"><strong>ABOUT ME</strong></a></li>
          <li><a class="github-mark" href="https://github.com/bching"><strong>GITHUB PAGE</strong></a></li>
        </ul>
      </div>
    </nav>
  </div>

